[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pywin32 = "*"
pillow = "*"
tesserocr = {file = "https://github.com/simonflueckiger/tesserocr-windows_build/releases/download/tesserocr-v2.6.2-tesseract-5.3.4/tesserocr-2.6.2-cp312-cp312-win_amd64.whl"}

[dev-packages]
ipython = "*"
ipdb = "*"

[requires]
python_version = "3.11"
